.botaolimpar {
    background-color: rgb(83, 2, 2);
    color:aliceblue;
    font-weight: bold;
}

seletor {
    propriedade: valor; 
}


h1 {
    color: orange;
}

h2 {
    color:blueviolet;
}

.dataCriacao {
    color:chartreuse;
}

#economy h2 {
    color: gold;
}

* {
    color:rgb(88, 168, 121)
}
